/* General form styling */
.signup-form {
    width: 700px;
    margin: 50px auto;
    padding: 3rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    background-color: #F28482;
    -webkit-mask: var(--mask);
    mask: var(--mask);
  }
  
  
  .signup-form.one {
    --mask: 
      linear-gradient(#000 0 0) 50%/calc(100% - 46.25px) calc(100% - 46.25px) no-repeat,
      radial-gradient(farthest-side,#000 98%,#0000) 0 0/50px 50px round;
  }
  
  .signup-title {
    margin-bottom: 1.5rem;
    font-size: 3rem;
    color: #ce0404;
  }
  
  .signup-input {
    width: 75%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    margin-left: 5% ;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.8); /* Make input background semi-transparent */
  }
  
  .signup-input:focus {
    border-color: #ce0404;;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
  }
  
  .signup-button {
    width: 50%;
    padding: 0.75rem;
    margin-top: 1rem;
    margin-left: 5%;
    border: none;
    border-radius: 5px;
    background-color: #309490;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signup-button:hover {
    background-color: #297f7c;
}
  